* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap");
:root {
  --FuturaStd-Heavy: "FuturaStd-Heavy";
  --FuturaStd-Light: "FuturaStd-Light";
  --futura-thin: "FUTURTHN";
  --FuturaStd-Heavy: "FuturaStd-Heavy";
  --FuturaStd-Book: "FuturaStd-Book";
  --FuturaStd-Bold: "FuturaStd-Bold";
  --sidebar-icons-colors: #494949;
  --white-color: #ffff;
  --section-bg-color: #f1f2f2;
  --poppins-font-family: "Poppins", sans-serif;
  --Source-font-family: "Source Code Pro", monospace;
}
html {
  font-size: 62%;
}

@font-face {
  font-family: "FuturaStd-Heavy";
  src: url("../../assets/futurastdheavy/FuturaStd-Heavy.otf");
}
@font-face {
  font-family: "FuturaStd-Light";
  src: url("../../assets/futurastdheavy/FuturaStd-Light.otf");
}
@font-face {
  font-family: "FUTURTHN";
  src: url("../../assets/futurastdheavy/FUTURTHN.ttf");
}
@font-face {
  font-family: "FuturaStd-Heavy";
  src: url("../../assets/futurastdheavy/FuturaStd-Heavy.otf");
}
@font-face {
  font-family: "FuturaStd-Book";
  src: url("../../assets/futurastdheavy/FuturaStd-Book.otf");
}
@font-face {
  font-family: "FuturaStd-Bold";
  src: url("../../assets/futurastdheavy/FuturaStd-Bold.otf");
}

tbody tr td {
  vertical-align: middle;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0px;
}
.user-dashboard-table
  .dataTables_wrapper.dt-bootstrap5.no-footer
  .row:last-child {
  align-items: center;
}
a.page-link i {
  font-size: 1.7rem;
}
/* sidebar start */

.sidebar-toggle-btn-area i {
  font-size: 1.5rem;
  color: white;
}
.sidebar-toggle-btn-area {
  height: 37px;
  width: 37px;
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -19px;
  top: 124px;
  cursor: pointer;
}
.sidebar-main-area.active {
  width: 4%;
}
.sidebar-main-area.active .side-bar-logo {
  width: 60px;
}
.sidebar-main-area.active li.side-bar-link h3 {
  display: none;
}
.sidebar-main-area.active li.side-bar-link {
  justify-content: start;
}
.user-dashboard {
  display: flex;
  overflow: hidden;
}
.sidebar-main-area {
  max-width: 310px;
  width: 18%;
  height: 100vh;
  background-color: #080a0b;
  position: relative;
  transition: 0.5s;
}
.main-area-dashboard {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.side-bar-logo {
  width: 200px;
  transition: 0.5s;
}
.sidebar-area {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}
li.side-bar-link {
  margin-bottom: 11px;
  transition: 0.6s;
  /* display: flex; */
  /* align-items: baseline; */
}
.checkout-link {
  background-color: transparent;
}
.nav-area li.side-bar-link:nth-child(3) {
  padding: 20px 10px 20px 25px;
  background-color: var(--white-color);
  cursor: pointer;
}
.nav-links {
  text-decoration: none;
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 20px 0 20px 25px;
  background-color: var(--white-color);
}
.side-bar-icon-area {
  width: 20px;
}
li.side-bar-link:hover {
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(248, 249, 249, 1) 50%,
    rgba(90, 91, 92, 1) 100%
  );
}
li.side-bar-link .nav-links:hover {
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(248, 249, 249, 1) 50%,
    rgba(90, 91, 92, 1) 100%
  );
}
li.side-bar-link .nav-links.active {
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(248, 249, 249, 1) 50%,
    rgba(90, 91, 92, 1) 100%
  );
}
li.side-bar-link a.active li.side-bar-link:nth-child(3) {
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(248, 249, 249, 1) 50%,
    rgba(90, 91, 92, 1) 100%
  );
}
li.side-bar-link:hover i {
  color: black;
}
.side-bar-icon-area {
  width: 23px;
  margin: 0 5px;
}
.side-bar-link h3 {
  font-family: var(--FuturaStd-Heavy);
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  text-decoration: none;
}
ul.checkout-ul {
  padding: 0 0 0 32px;
  margin-top: 10px;
  display: none;
}
ul.checkout-ul.active {
  display: block;
}
.sidebar-main-area.active li.side-bar-link i {
  font-size: 2rem;
}
li.side-bar-link i {
  font-size: 1.7rem;
  color: var(--sidebar-icons-colors);
}
.checkout-link {
  font-size: 1.5rem;
  color: black;
  font-family: var(--FuturaStd-Book);
  text-decoration: none;
  display: inline-block;
}
ul.checkout-ul li {
  padding: 15px 0;
  border-top: 1px solid black;
}
ul.checkout-ul li:nth-child(2) {
  padding-bottom: 0;
}
.sidebar-main-area.active ul.checkout-ul {
  padding: 0;
  margin-top: 10px;
}
.sidebar-main-area.active ul.checkout-ul li {
  text-align: center;
  border-top: transparent;
}
.sidebar-main-area.active ul.checkout-ul span {
  display: none;
}
ul.checkout-ul svg {
  display: none;
  color: var(--sidebar-icons-colors);
  height: 20px;
  width: 20px;
}
.sidebar-main-area.active ul.checkout-ul svg {
  display: block;
  margin-left: -8px;
}
.sidebar-main-area.active li.side-bar-link .fa-solid.fa-angle-down {
  font-size: 1rem;
}

/* sidebar end */

/* header start */
header.header {
  padding: 5px 60px;
  background-color: black;
}
.res-menu-btn {
  display: none;
}
.search-area {
  display: flex;
  align-items: center;
}
input.search-field {
  font-size: 1.6rem;
  font-family: var(--futura-thin);
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
  color: #fafdff;
}
input.search-field::placeholder {
  color: #fafdff;
  font-size: 1.6rem;
  font-family: var(--futura-thin);
}
.search-area i {
  color: #bcbccb;
  font-size: 1.7rem;
  margin-right: 10px;
}

.notification-area i {
  font-size: 1.7rem;
  color: white;
}
.notification-area i {
  font-size: 1.7rem;
  background: -webkit-linear-gradient(
    263deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(248, 249, 249, 1) 50%,
    rgba(90, 91, 92, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-right-area {
  display: flex;
  align-items: center;
  justify-content: end;
}
.notification-area {
  position: relative;
}
.notification-area::after {
  position: absolute;
  content: " ";
  top: -3px;
  right: 0px;
  width: 8px;
  height: 8px;
  background: #004040;
  border: 1px solid white;
  border-radius: 50%;
}
img.user-profile {
  width: 49px;
  height: 49px;
}
.dropdown.header-dropdown button.btn.btn-secondary.dropdown-toggle {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  font-family: var(--futura-thin);
  color: #fafdff;
  display: flex;
  align-items: center;
  margin-left: 17px;
}
.dropdown.header-dropdown button.btn.btn-secondary.dropdown-toggle i {
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: 5px;
}
.dropdown.header-dropdown {
  position: relative;
}
.dropdown.header-dropdown::before {
  content: " ";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  left: 0;
  background-color: #ebebf2;
  margin-left: 12px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown.header-dropdown ul.dropdown-menu.show {
  padding: 15px 0px;
}
.dropdown.header-dropdown ul.dropdown-menu.show li {
  font-size: 1.5rem;
  color: black;
  font-family: var(--FuturaStd-Light);
  margin-bottom: 5px;
}

/* header end */

/* dashboard screen start */
.welcome-dashbrd-sec {
  padding: 50px 60px 100px 60px;
  background-color: var(--section-bg-color);
}
.sec-title {
  font-size: 2.6rem;
  font-family: var(--FuturaStd-Heavy);
  color: black;
  margin-bottom: 15px;
}
.sec-title span {
  font-size: 2rem;
}
.sec-title span a {
  color: #949494;
}
.welcome-para {
  font-size: 2rem;
  font-family: var(--FuturaStd-Book);
  margin-bottom: 20px;
  color: black;
}
.total-ordrinvoice-product-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #494949;
  padding: 15px 20px;
  margin-bottom: 40px;
}
.total-order-title {
  font-size: 1.5rem;
  color: white;
  font-family: var(--FuturaStd-Bold);
  margin-bottom: 5px;
}
.total-order-qua {
  font-size: 2.5rem;
  font-family: var(--FuturaStd-Bold);
  color: white;
  margin-bottom: 5px;
}
.total-order-percen {
  font-size: 1.1rem;
  font-family: var(--futura-thin);
  color: white;
  margin-left: 7px;
}
.total-ordrinvoice-product-area i {
  color: white;
  font-size: 1.2rem;
}
.bg-black {
  background-color: black;
}
.user-dashboard-table {
  padding: 35px 50px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 6px 2px #0000001f;
}
.cart-title {
  font-size: 2.6rem;
  font-family: var(--poppins-font-family);
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}
.cart-title span {
  font-size: 1.8rem;
  font-family: var(--poppins-font-family);
  font-weight: 500;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  font-size: 1.3rem;
  color: #ababab;
  font-family: var(--poppins-font-family);
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
div.dataTables_wrapper div.dataTables_length select.form-select.form-select-sm {
  font-size: 2rem;
  color: black;
  font-family: var(--poppins-font-family);
  font-weight: 500;
  margin: 0 10px;
  padding: 6px 26px;
  border: 2px solid #70707099;
  box-shadow: 0px 1px 3px 3px #00000017;
  border-radius: 4px;
}
div.dataTables_wrapper div.dataTables_filter label {
  white-space: nowrap;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ababab;
  font-family: var(--poppins-font-family);
  display: flex;
  align-items: center;
  justify-content: end;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  border: 2px solid #7070707d;
  color: black !important;
  font-size: 1rem;
  font-family: var(--poppins-font-family);
  box-shadow: 0px 1px 6px 1px #00000052;
}

th.sorting {
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-family: var(--poppins-font-family);
  padding: 15px 10px;
  font-weight: 700;
}
tr.odd td {
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  font-size: 1.5rem;
  border-bottom: 1px solid #f1f1f3;
  padding: 15px 10px;
}
tr.even td {
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  border-bottom: 1px solid #f1f1f3;
  padding: 15px 10px;
  font-size: 1.5rem;
}
.table-product-img {
  height: 27px;
  width: 29px;
}
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:after {
  opacity: 100%;
}
table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > th.sorting_asc:after,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > th.sorting_asc_disabled:after,
table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  opacity: 0.3;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  font-size: 1.6rem;
  font-family: var(--poppins-font-family);
  font-weight: 500;
}
a.page-link {
  font-size: 1.3rem;
  color: #267600;
  font-family: var(--poppins-font-family);
  font-weight: 500;
  height: 35px;
  width: 35px;
  border: 1px solid #8898aa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 5px;
}
.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.active > .page-link,
.page-link.active {
  background-color: #bd0706;
  color: var(--white-color);
  border: 1px solid #bd0706;
}
table.dataTable thead > tr > th.after-before-none.sorting:before {
  display: none;
}
table.dataTable thead > tr > th.after-before-none.sorting:after {
  display: none;
}
.bottom-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
a.cont-shop-a {
  padding: 15px 17px;
  background-color: black;
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--poppins-font-family);
  font-weight: 400;
  border-radius: 5px;
  font-size: 1.3rem;
}
.checkout {
  padding: 15px 44.5px;
  background: rgb(79, 79, 79);
  background: linear-gradient(
    180deg,
    rgba(79, 79, 79, 1) 0%,
    rgba(248, 249, 249, 1) 50%,
    rgba(90, 91, 92, 1) 100%
  );
  text-decoration: none;
  color: black;
  font-family: var(--poppins-font-family);
  font-weight: 400;
  border-radius: 5px;
  font-size: 1.3rem;
  border: transparent;
}
.dataTables_wrapper.dt-bootstrap5.no-footer .row:first-child {
  flex-direction: row-reverse;
  align-items: center;
}
.dataTables_length label {
  justify-content: flex-end;
}
.dataTables_filter label {
  justify-content: flex-start !important;
}
.user-dashboard-table
  .dataTables_wrapper.dt-bootstrap5.no-footer
  .row:last-child {
  margin-top: 50px;
}

/* dashboard screen end */

/* footer start */
.footer {
  padding: 15px 60px 15px 20px;
  background-color: black;
}
.copy-right-para {
  font-family: var(--FuturaStd-Heavy);
  font-size: 1.6rem;
  color: #ffffff7a;
}
.footer-right-area {
  text-align: end;
  position: relative;
}
.brdr-right {
  border-right: 2px solid #ffffff7a;
  padding-right: 15px;
  margin-right: 15px;
}
.footer-right-area a {
  font-family: var(--FuturaStd-Heavy);
  font-size: 1.6rem;
  color: #ffffff7a;
  text-decoration: none;
}

/* footer end */

/* coupons section start */
.coupons-section {
  padding: 50px 60px 30px 60px;
  background-color: var(--section-bg-color);
}
.coupon-popup-area {
  width: 600px;
  background-color: var(--white-color);
  padding: 25px;
  box-shadow: 0px 1px 9px 3px #0000001f;
  position: relative;
}
.coupon-popup-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 9999;
  display: none;
}
.coupon-popup-wrap.active {
  display: flex;
}
button.popup-btn {
  background-color: transparent;
  border: none;
  color: #4d4f5c;
}
.overflow-table {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.popup-field-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}
.popup-label-area {
  width: 13%;
}
.popup-input-area {
  width: 86%;
}
.popup-input-area input {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  outline: none;
  padding: 8px;
  border: 1px solid #e8e9ec;
  border-radius: 5px;
  width: 100%;
  background-color: transparent;
}
.popup-input-area input::placeholder {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
}
.popup-label-area label {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  text-transform: capitalize;
  color: #4d4f5c;
}
.type-radio input {
  width: unset;
  margin-right: 8px;
}
.type-radio {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.type-radio label {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  text-transform: capitalize;
  color: #4d4f5c;
}
.popup-input-area.type-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.popup-third-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-third-child .popup-input-area {
  width: 72%;
}
.popup-third-child .popup-label-area {
  width: 26%;
}
.popup-third-child .popup-field-area {
  width: 49%;
}
.avail-now-btn {
  text-align: center;
  margin-top: 15px;
}
.avail-now-btn button {
  font-size: 1.5rem;
  font-family: var(--poppins-font-family);
  font-weight: 400;
  border: none;
  background-color: #bd0706;
  color: var(--white-color);
  padding: 10.1px 45px;
  border-radius: 5px;
}
.close-coupon-popup i {
  font-size: 2.6rem;
  color: #707070;
}
.close-coupon-popup {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* coupons section end */

/* profile section start */

.profile-section {
  padding: 50px 60px 30px 60px;
  background-color: var(--section-bg-color);
  min-height: calc(100vh - 107px);
  height: auto;
}
.profile-area {
  padding: 24px 34px;
  background-color: var(--white-color);
}
.profile-inner-area {
  padding: 34px;
  background-color: var(--section-bg-color);
}
.form-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 14px;
}
.form-input {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  border: none;
  background-color: white;
  outline: none;
  padding: 9px;
  width: 78%;
  border-radius: 4px;
}
.form-input::placeholder {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  text-transform: capitalize;
}
.form-labels {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  text-transform: capitalize;
  width: 20%;
}
.check-box-fields {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 25px;
}
.check-box-fields label {
  width: 100%;
  margin-left: 10px;
}
.profile-btn-area {
  text-align: end;
  margin-top: 60px;
}
.profile-update-form {
  padding: 50px 60px 50px 35px;
  background-color: black;
}
.profile-img-area img {
  width: 172px;
  height: 172px;
}
button.profile-update-btn {
  padding: 12px 28px;
  font-size: 1.3rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 400;
  font-family: var(--poppins-font-family);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 45px;
}
.update-pas-title {
  margin-bottom: 20px;
  font-size: 2.6rem;
  font-family: var(--poppins-font-family);
  font-weight: 700;
  color: var(--white-color);
}
.update-pasword-fields {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  height: 66px !important;
}
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}
.update-pasword-icon {
  /* width: 18%; */
  /* max-width: 66px; */
  width: 76px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bd0706;
}
.form-control {
  border-radius: unset !important;
  border: none;
  font-size: 1.4rem;
  font-family: var(--FuturaStd-Bold);
  color: #707070 !important;
}
.form-floating > label {
  top: -11px;
}
.form-floating > label {
  padding: 3.9rem 1rem !important;
}
.update-pasword-icon i {
  font-size: 1.5rem;
  color: white;
}
label.signup-lable {
  font-size: 1.1rem;
  font-family: var(--FuturaStd-Bold);
  color: #707070;
  text-transform: uppercase;
  opacity: 50%;
}
label.signup-lable span {
  color: #ff0000;
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.8) translateY(-1.5rem) translateX(0.15rem) !important;
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(0.4rem) translateX(0.16rem);
}

/* profile section end */

/* biliing area start */
.billing-information-area {
  padding: 30px;
  background-color: var(--white-color);
}

.billing-inner-area {
  padding: 30px 25px 30px 15px;
  background-color: var(--section-bg-color);
}
.billing-fields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.billing-label {
  width: 9%;
  margin-top: 10px;
}
.billing-label label {
  width: 100%;
}
.billing-input {
  width: 90%;
}
.billing-input input {
  width: 100%;
}
.billing-input textarea {
  width: 100%;
  resize: none;
  height: 74px;
}
.form-select {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  border: none;
  background-color: white;
  outline: none;
  padding: 9px;
  width: 100%;
  border-radius: 4px;
}
.height-105 {
  height: 105px !important  ;
}
.shipping-address-checkbox {
  display: flex;
  align-items: center;
}
.shipping-address-checkbox input {
  margin-right: 6px;
  height: 17px;
  width: 17px;
}
.billing-info-btn-area {
  text-align: end;
  margin-top: 50px;
}
.shipping-address {
  margin-top: 20px;
  display: none;
}

/* biliing area end */

/* checkout screen start */
.order-summary-area {
  padding: 20px 30px;
  background-color: white;
  border: 2px solid #30809ba6;
  box-shadow: 0px 0px 15px 1px #00000029;
}
.order-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 13px;
  border-bottom: 1px solid #f1f1f3;
}
.order-summary-text span {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  text-transform: capitalize;
}
.checkout-btn-area {
  text-align: end;
  margin-top: 60px;
}
/* checkout scren end */

/* payment info screen start */
.billing-address-area {
  padding: 20px;
  background-color: white;
  margin-bottom: 25px;
}
.billing-address-area label {
  display: block;
  margin-bottom: 10px;
}
.billing-address-area input {
  background-color: var(--section-bg-color);
  opacity: 50%;
  width: 100%;
}
.billing-address-inner {
  margin-bottom: 15px;
}
.billig-address-btm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.billing-address-inner label {
  width: 100%;
}
.billig-address-btm .billing-address-inner:nth-child(1) {
  width: 45%;
}
.billig-address-btm .billing-address-inner:nth-child(2) {
  width: 25%;
}
.billig-address-btm .billing-address-inner:nth-child(3) {
  width: 25%;
}
.card-side {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  padding: 10px 5px;
  width: 100%;
  max-width: 209px;
  margin-bottom: 25px;
}
.card-side span {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: black;
  text-transform: capitalize;
}
.card-side i.fa-brands.fa-cc-mastercard {
  font-size: 2rem;
  margin: 0 8px;
}
.card-input input {
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 50%;
}
.card-input {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.billing-address-area label {
  width: 100%;
}
/* payment info screen end */

/* my wishlist screen start */
.wishlist-area {
  margin-bottom: 20px;
}
.wishlist-image-gallery:before {
  content: "";
  background: #00000085;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.8s;
}
.res-menu-close-btn {
  display: none;
}
.wishlist-image-gallery img {
  width: 739px;
  height: 454px;
}
.wishlist-area:hover .wishlist-image-gallery::before {
  height: 100%;
}
.wishlist-area {
  position: relative;
}
.wishlist-area:hover .wishlist-text {
  opacity: 1;
}
.wishlist-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.8s;
  opacity: 0;
}
.wishlist-text-title {
  font-size: 4.3rem;
  font-family: var(--FuturaStd-Heavy);
  color: var(--white-color);
  margin-bottom: 15px;
}
.wishlist-text-para {
  font-size: 1.8rem;
  font-family: var(--FuturaStd-Book);
  color: var(--white-color);
  margin-bottom: 30px;
  line-height: 1.3;
}
.wishlist-text-a {
  font-size: 1.8rem;
  font-family: var(--FuturaStd-Heavy);
  color: var(--white-color);
  text-decoration: none;
}
.clear-history {
  text-align: end;
}

/* my wishlist screen end */

/* my order screen start */
.order-view-dropdown {
  background-color: transparent;
  color: #4d4f5c;
  font-size: 1.5rem;
  border: none;
  padding: 0;
}
.view-dropdown-menu {
  width: 87px;
  padding: 5px;
  border: 1px solid #9494946b;
  border-radius: 5px;
  position: absolute;
  z-index: 999999;
  top: 20px;
  left: -30px;
  display: none;
}
.order-view.active .view-dropdown-menu {
  display: block;
}
button.view-delete-btn {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c8c;
}
.view-dropdown-menu li:nth-child(1) {
  border-bottom: 1px solid #94949466;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
.order-popup-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 9999;
}
.order-popup-wrap.active {
  display: flex;
}
.order-popup {
  padding: 30px;
  background-color: var(--white-color);
  max-width: 1200px;
  width: 100%;
  box-shadow: 1px 0px 10px 1px #00000030;
}
.order-popup-title {
  font-size: 2.6rem;
  font-family: var(--FuturaStd-Heavy);
  color: black;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c7c7c7;
}
.order-popup-para {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #949494;
  margin-bottom: 10px;
}
.order-popup-para span {
  color: black;
}
.table.order-popup-table thead tr {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.order-popup-table thead tr th {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Heavy);
  color: black;
  padding: 10px 3px;
  text-transform: capitalize;
}
.order-popup-table tbody tr td {
  padding: 10px 3px;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
  font-size: 1.5rem;
  text-transform: capitalize;
  vertical-align: middle;
}
.order-popup-table tbody tr td span {
  display: block;
}
.order-popup-table tbody tr td img {
  height: 40px;
  width: 40px;
}
.total-calc-inner-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
}
.total-calc-area .total-calc-inner-area:nth-child(1) {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.total-calc-area .total-calc-inner-area:nth-child(2) {
  border-bottom: 1px solid #c7c7c7;
}
.total-calc-area .total-calc-inner-area:nth-child(3) {
  border-bottom: 1px solid #c7c7c7;
}
.total-calc-inner-area span {
  font-size: 1.5rem;
  font-family: var(--FuturaStd-Book);
  color: #4d4f5c;
}
.order-popup-close {
  margin-top: 40px;
  text-align: end;
}
.order-popup-close button {
  font-size: 1.5rem;
  font-family: var(--poppins-font-family);
  font-weight: 400;
  border: none;
  background-color: #bd0706;
  color: var(--white-color);
  padding: 10.1px 45px;
  border-radius: 5px;
}
td.popup-btn-open {
  width: 1%;
}
/* my order screen end */
